body {
  margin: auto;
}

.top-section {
  align-content: center;
  background-color: #E5F3F2;
  font-family: open sans;
  height: 300px;
}

.middle-section {
  align-content: center;
  background-color: #FFFFFF;
}

span {
  color:#6D6E71;
  font-size: 30px;
  font-family: roboto slab, serif;
  margin: 0 0 0 6vw;
}

header {
  margin-left: 43%;
  color: #6D6E71;
}

h1 {
  color: #00A79D;
  display: inline-block;
  font-size: 30px;
  font-family: roboto slab, serif;
  margin-top: 13px;
}

.inputs {
  font-size: 18px;
  height: 30px;
  margin-bottom: 0;
  margin-left: 31%;
  margin-top: 24px;
  width: 44%;
}

.title-input {
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 15px;
  height: 30px;
  margin-left: 31%;
  margin-top: 40px;
  width: 44.3%;
}

.complete-button {
  background-color: #00A79D;
  border-radius: 5%;
  color: white;
  height: 25px;
  margin-left: 33%;
  width: 10vw;
}

.save-button:hover {
  background-color: #045E55;
}

.task-card {
  margin-left: 31%;
}

p {
  color: #939598;
  display: inline-block;
  font-size: 18px;
}

h2 {
  color: #6D6E71;
  width: 60%;
}

h3 {
  color: #939598;
  width: 60%;
}

.delete-button {
  float: right;
  margin-right: 35%;
}

.delete-button:hover {
  content: url(icons/delete-hover.svg);
}

.upvote-button:hover {
  content: url(icons/upvote-hover.svg);
}

.downvote-button:hover {
  content: url(icons/downvote-hover.svg);
}

#task-underline {
  margin-right: 34%;
}

::placeholder {
  font-size: 20px;
  padding-bottom: 5px;
}

.task-done {
  background-color: gray;
  color: white;
  text-decoration: line-through;
}

@media screen and (max-width: 615px) {

.inputs {
  margin-left: 10%;
  width: 80%;
}

.title-input {
  margin-top: -30px;
}

.body-input {
  height: 70px;
}

.save-button {
 font-size: 15px;
 margin-left: 10%;
 width: 80%;
}

.task-card {
  margin-left: 10%;
}

#task-underline {
  margin-right: 10%;
}

.save-button {
  margin-left: 10%;
}

.delete-button {
  margin-right: 10%;
}

span {
  margin: 0 0 0 0;
}

.complete-button {
  margin-left: 40%;
  width: 16vw;
}

}

@media screen and (max-width: 1100px) {
  .complete-button {
  font-size: .5em;
  margin-left: 29%;
  }
}

@media screen and (max-width: 400px) {
  .complete-button {
  font-size: .5em;
  margin-left: 13%;
  }
}